html,
body,
img,
p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
ul,
ol {
	list-style: none;
}
img {
	border: none;
}
a {
	text-decoration: none;
}