html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}
body {
	font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}