.done-tip
	position absolute
	top 0
	left 0
	width 100%
	text-align center
	font-size 14px
	color #fff
	background #e4393c
	opacity .8
	transform translate3d(0, 0, 0)
	&.fade-enter-active, &.fade-leave-active
		transition all .3s linear
	&.fade-enter, &.fade-leave-active
		transform translate3d(0, -20px, 0)	
.top-tip
	position absolute
	top -30px
	left 0
	width 100%
	text-align center
	color #e4393c
	font-size 14px
.topics
	.line
		padding 5px 10px
		box-sizing border-box
		&:not(:last-child)
			margin-bottom 8px
		.header
			display flex
			margin-bottom 3px
			width 100%
			height 20px
			line-height 20px
			.tab
				flex 0 0 32px
				margin-right 5px
				border-radius 5px
				text-align center
				font-size 12px
				color #999
				background #e5e5e5
				&.good
					color #fff
					background #80bd01
			.title
				flex 1
				font-size 16px
				white-space nowrap
				text-overflow ellipsis
				overflow hidden
		.topicsDetail
			position relative
			.topicsAvatar
				display inline-block
				margin-right 5px
				vertical-align top
				img
					border-radius 50%
			.info
				display inline-block
				vertical-align top
				color #666
				.author
					margin-bottom 4px
				.time
					font-size 0.8em
			.topicsReply
				position absolute
				right 5px
				top 8px
				p
					color #666
					text-align right
					font-size 12px
					.reply_count
						color #80bd01
.bottom-tip
	width 100%
	padding 10px 0
	text-align center
	color #e4393c
	font-size 14px
	img
		vertical-align top
	span
		vertical-align top							