.home
	position absolute
	top 70px
	left 0
	bottom 0
	width 100%
	z-index 1000
	&:after
		content ''
		display block
		clear both
	.list
		width 100%
		.line
			padding 5px 10px
			box-sizing border-box
			.header
				display flex
				.tab
					flex 0 0 30px
					width 30px
					height 20px
					line-height 18px
					margin-right 5px
					text-align center
					font-size 12px
					color #fff
					background #80bd01
				.title
					flex 1
					font-size 16px
					white-space nowrap
					text-overflow ellipsis
					overflow hidden