.header
	width 100%
	height 70px
	.title
		position relative
		text-align center
		background-color rgb(68, 68, 68)
		margin-bottom 5px
		.logo
			height 40px
			padding-top 6px
			box-sizing border-box
		.menu
			position absolute
			left 0
			top 0
			width 40px
			height 40px
			background url('../../../static/img/menu.png') no-repeat 10px 6px
			background-size 30px 30px
		.new-topic
			position absolute
			right 3px
			top 0
			width 40px
			height 40px
			background url('../../../static/img/edit.png') no-repeat 10px 6px
			background-size 25px 25px	
	.nav
		width 100%
		.nav-wrapper
			display flex
			justify-content space-around
			a
				display inline-block
				width 34px
				height 18px
				line-height 18px
				text-align center
				font-size 14px
				color #80bd01
				&.active
					color #fff
					background #80bd01
					border-radius 4px
	.menu-wrapper
		position absolute
		top 0
		left 0
		bottom 0
		width 280px
		background #fff
		z-index 1300
		transform translate3d(0, 0, 0)	
		&.move-enter-active, &.move-leave-active
			transition all .5s ease-out
		&.move-enter, &.move-leave-active
			transform translate3d(-100%, 0, 0)	
		.avatar
			text-align center
			background #444
			overflow hidden
			img
				border-radius 50%
			p
				padding-top 10px
				line-height 30px
				color #fff
		.menu-option
			padding 15px 20px
			font-size 18px
			text-align center
			font-weight 600
			color #333
			border-bottom 1px solid #eee
			&:nth-child(1)
				background url('../../../static/img/comments.png') no-repeat 50px 14px
				background-size 30px 30px
			&:nth-child(2)
				background url('../../../static/img/information.png') no-repeat 50px 12px
				background-size 30px 30px
			&:nth-child(3)
				background url('../../../static/img/skip.png') no-repeat 50px 12px
				background-size 30px 30px		
	.mask
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		background rgba(0, 0, 0, .5)
		z-inde 1250		
					