.header
	display table
	position  fixed
	top 0
	left 0
	width 100%
	.title
		position relative
		display table-cell
		height 40px
		text-align center
		vertical-align middle
		background-color rgb(68, 68, 68)
		.menu
			position absolute
	.nav
		position absolute
		top 45px
		left 0
		width 100%
		.nav-wrapper
			display flex
			justify-content space-around
			a
				color #80bd01